ADMIN/obj
ADMIN/bin
ADMIN/Logs
ADMIN/.vs

API/obj
API/bin
API/Logs
API/.vs

CLIENT/F168_CLIENT/obj
CLIENT/F168_CLIENT/bin
CLIENT/F168_CLIENT/Logs
CLIENT/F168_CLIENT/.vs

API_BOT_TELE/obj
API_BOT_TELE/bin
API_BOT_TELE/Logs
API_BOT_TELE/.vs